<!-- Grey with black text -->

<header>
  <div class="inner-width">
    <a href="#" class="logo"><img src="logo.png" alt=""></a>
    <i class="menu-toggle-btn fas fa-bars"></i>
    <nav class="navigation-menu" >
      <a routerLink='login'><i class="fas fa-sign-in-alt home"></i> login</a>
      <a routerLink='listEmployer'><i class="fas fa-users about"></i> List-Employees</a>
      <a routerLink='AjouterEmployer'><i class="fas fa-user-plus works"></i> New-Employee</a>
      <a routerLink='pointagee'><i class="fas fa-file-signature team"></i> Pointage</a>
      <a routerLink='demandeCalcule'><i class="far fa-calendar-alt contact"></i> Tache Entre 2 Periode</a>
    </nav>
  </div>
</header>


<script type="text/javascript">
  $(".menu-toggle-btn").click(function(){
    $(this).toggleClass("fa-times");
    $(".navigation-menu").toggleClass("active");
  });
</script>
<!-- Black with white text -->


<!-- Blue with white text -->



<!-- <div class="mynav">


  <header>
    <div class="inner-width">
      <a href="#" class="logo"><img src="logo.png" alt=""></a>
      <i class="menu-toggle-btn fas fa-bars"></i>
      <nav class="navigation-menu">
        <a href="#"><i class="fas fa-home home"></i> Home</a>
        <a href="#"><i class="fas fa-align-left about"></i> About</a>
        <a href="#"><i class="fab fa-buffer works"></i> Works</a>
        <a href="#"><i class="fas fa-users team"></i> Team</a>
        <a href="#"><i class="fas fa-headset contact"></i> Contact</a>
      </nav>
    </div>
  </header>


  <script type="text/javascript">
    $(".menu-toggle-btn").click(function(){
      $(this).toggleClass("fa-times");
      $(".navigation-menu").toggleClass("active");
    });
  </script>
</div> -->


