<div class="container-fluid">
<div>

  <div class="textbox1">
  Ajouter Employer
  </div>
</div>




    <form #f="ngForm" (ngSubmit)="ajouterem(f.value)">

      <div class="textbox">

        <label class="col-sm-2 col-form-label">Matricule</label>
        <div class="col-sm-10">
          <input type="text"  required ngModel="" name="id" [(ngModel)]="employee.id">
        </div>
      </div>
      <div class="textbox">
        <label class="col-sm-2 col-form-label">Nom</label>
        <div class="col-sm-10">
          <input type="text"  ngModel="" name="nom" [(ngModel)]="employee.nom">
        </div>
      </div>
      <div class="textbox">
      <label class="col-sm-2 col-form-label">fonction</label>
      <div class="col-sm-10">
        <input type="text"  ngModel="" name="fonction" [(ngModel)]="employee.fonction">
      </div>
  </div>
      <div class="textbox">
        <div class="col-sm-offset-4"> <button type="submit" class="btn">Ajouter</button></div>

      </div>

    </form>
  </div>



<div class="container-fluid" *ngIf="employer!=undefined">
  <div class="card">
    <div class="card card-header">
      info Employer
    </div>
    <div class="card-body">



        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Matricule: {{employer.id}}</label>

        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Nom:{{employer.nom}}</label>

        </div>
        <div class="form-group row">
          <label class="col-sm-2 col-form-label">fonction:{{employer.fonction}}</label>

        </div>



    </div>
  </div>
</div>
